.input {
    margin: 1%;
    outline: none;
    color: #000000;
    height: 50px;
    width: 30vw;
    background: #ffffff;
    border-style: none;
    font-size: 30px;
    padding: 15px;
    border-radius: 30px;
}

#button {
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #000000;
    background-color: #e69a0c;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

#button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #0e5c1f;
    color: #fff;
}

.main {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 70vw;
    padding: 1%;
    margin: 1%;
}

#city {
    font-size: 30px;
    color: #ffffff;
    margin: 1%;
}

.day {
    color: #ffffff;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    display: none;
    margin-top: 50px;
    font-size: 16px;
    color: #333028;
}

.text {
    text-align: center;
}

/* адаптив */

/* .input {
    width: 700px;
}

@media (max-width: 720px) {
    .input {
        width: 400px;
    }
} */